/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'),
    url('../fonts/lato-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'),
    url('../fonts/lato-v16-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v16-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-900 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'),
    url('../fonts/lato-v16-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v16-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}





    html {
    box-sizing: border-box;
}


    body {
        font-family: 'Lato';
        font-style: normal;
        /*font-size: 16px;*/
        font-weight: normal;
        line-height: 1.2;
        color: #222222;
    }


    *, *::before, *::after {
    box-sizing: inherit;
}


    /*header styles start*/


    .wrapper {
    max-width: 1060px;
    margin: 0 auto;
}

    .header {
        
        position: fixed;
        width: 100%;
        top:0;
        left: 0;
    }

    .header__wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;
        padding-top: 56px;
    }

    .header__list {
        display: flex;
        flex-wrap: wrap;
    }

    .header__item {
        margin-right: 82px;
    }

.header__item:last-child {
    margin-right: 0;
}

.header__link {
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-decoration: none;
}

.header__link:hover, .header__link:focus, .header__link:active {
    opacity: 0.75;
}

/*header styles end*/


/*intro styles start*/
    .intro {
        min-height: 100vh;
        background: url(../img/intro-bg.jpg) no-repeat center;
        background-size: cover;
        padding-top: 263px;

    }

    .intro__title {
        font-weight: 500;
        font-size: 50px;
        line-height: 60px;
        color: #FFFFFF;
        max-width: 619px;
        margin-bottom: 22px;
    }


    .intro__subtitle {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        max-width: 546px;
        margin-bottom: 59px;
    }


    .search-form__info {
        display: flex;
        flex-wrap: wrap;
    }


    .search-form__field {
        padding-left: 43px;
        padding-bottom: 22px;
        width: 297px;
        background: transparent url(../img/oval.svg) no-repeat left 6px;
        background-size: 20px;
        border: 0;
        border-bottom: 2px solid #BFC0C5;
        margin-right: 60px;
        font-weight: 500;
        font-size: 18px;
        color: #FFFFFF;
    }


    .search-form__field::placeholder {
        font-weight: 500;
        font-size: 18px;
        color: #FFFFFF;
    }

    .search-form__submit {
        background: #1B7DFF;
        color: #FFFFFF;
        text-transform: uppercase;
        padding: 15px 39px;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        border: 0;
}


    .search-form__submit:hover, .search-form__submit:focus, .search-form__submit:active {
        background-color: #2065bf;
    }









/*intro styles end*/



