/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'),
    url('../fonts/lato-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'),
    url('../fonts/lato-v16-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v16-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-900 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'),
    url('../fonts/lato-v16-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v16-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}





    html {
    box-sizing: border-box;
}


    body {
        font-family: 'Lato';
        font-style: normal;
        /*font-size: 16px;*/
        font-weight: normal;
        line-height: 1.2;
        color: #222222;
    }


    *, *::before, *::after {
    box-sizing: inherit;
}


    /*header styles start*/


    .wrapper {
    max-width: 1060px;
    margin: 0 auto;
}

    .wrapper-full {
        max-width: 1262px;
        margin: 0 auto;
    }

    .header {
        
        position: fixed;
        width: 100%;
        top:0;
        left: 0;
    }

    .header__wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;
        padding-top: 56px;
    }

    .header__list {
        display: flex;
        flex-wrap: wrap;
    }

    .header__item {
        margin-right: 82px;
    }

.header__item:last-child {
    margin-right: 0;
}

.header__link {
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-decoration: none;
}

.header__link:hover, .header__link:focus, .header__link:active {
    opacity: 0.75;
}

/*header styles end*/


/*intro styles start*/
    .intro {
        min-height: 100vh;
        background: url(../img/intro-bg.jpg) no-repeat center;
        background-size: cover;
        padding-top: 263px;
        box-sizing: content-box;
        padding-bottom: 223px;

    }

    .intro__title {
        font-weight: 500;
        font-size: 50px;
        line-height: 60px;
        color: #FFFFFF;
        max-width: 619px;
        margin-bottom: 22px;
    }


    .intro__subtitle {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        max-width: 546px;
        margin-bottom: 59px;
    }


    .search-form__info {
        display: flex;
        flex-wrap: wrap;
    }


    .search-form__field {
        padding-left: 43px;
        padding-bottom: 22px;
        width: 297px;
        background: transparent url(../img/oval.svg) no-repeat left 6px;
        background-size: 20px;
        border: 0;
        border-bottom: 2px solid #BFC0C5;
        margin-right: 60px;
        font-weight: 500;
        font-size: 18px;
        color: #FFFFFF;
    }


    .search-form__field::placeholder {
        font-weight: 500;
        font-size: 18px;
        color: #FFFFFF;
    }

    .search-form__submit {
        background: #1B7DFF;
        color: #FFFFFF;
        text-transform: uppercase;
        padding: 15px 39px;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        border: 0;
}


    .search-form__submit:hover, .search-form__submit:focus, .search-form__submit:active {
        background-color: #2065bf;
    }

/*intro styles end*/



/*benefits styles start*/

    .benefits {
    margin-bottom: 131px;
    }

    .benefits__wrapper {
        max-width: 1262px;
        background-color: #FFFFFF;
        margin: 0 auto;
        box-shadow: 0 2px 20px rgba(21, 24, 36, 0.15993);
        position: relative;
    }

    .benefits__title {
        background-color: #FFFFFF;
        width: 100%;
        font-style: normal;
        font-weight: 500;
        font-size: 35px;
        line-height: 42px;
        padding: 93px 100px 88px 100px;
        position: absolute;
        top:0;
        left:0;
        transform: translateY(-100%);
        color: #102746;

    }


    .benefits__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 55px;
        padding: 0 100px;



    }

    .benefits__card {
        grid-column: span 1;
        margin-bottom: 112px;

    }


    .benefits__card-pic {
        margin-bottom: 37px;
        max-width: 60px;
    }


    .benefits__card-thumb {
        display: block;
}

    img {
        max-width: 100%;
        height: auto;
    }


    .benefits__card-title {
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: #000000;

        margin-bottom: 26px;
    }

    .benefits__card-desc {
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #000000;

        margin-bottom: 39px;
}


    .benefits__card-more {
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        text-decoration: none;
        color: #006DFE;
        padding-right: 59px;
        background: url(../img/shape.svg) no-repeat 95% center;
        transition: .2s all;
        margin-bottom: 111px;

    }

.benefits__card-more:hover, .benefits__card-more:focus {

    background: url(../img/shape.svg) no-repeat right center;


}

/*benefits styles end*/

/*<!--Places start-->*/

    .places {
        margin-bottom: 131px;
    }


    .section__title {
        font-weight: 500;
        font-size: 35px;
        line-height: 42px;
        position: relative;
        padding-bottom: 10px ;
}


    .places__title {
        margin-right: 15px;
    }

    .section__title:after {
        display: block;
        content: '';
        width:253px ;
        height: 3px;
        position: absolute;
        background-color:  #006DFE;
        bottom: 0;
        left: 0;

}

    .places__caption {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 36px;
    }

    .places__view-all {
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #006DFE;
        text-decoration: none;
        background: url(../img/shape.svg) no-repeat right center;
        padding-right: 59px;
    }

    .places__view-all:hover, .places__view-all:focus {
        opacity: 0.65;
    }


    .places__card {
        position: relative;
        overflow: hidden;
    }


    .places__card:after {
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(21, 24, 36, 0.4);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
}

    .places__card:hover .places__card-pic {
        transform: scale(1.05);
    }



    .places__card-title {
        font-weight: bold;
        font-size: 50px;
        line-height: 60px;
        color: #FFFFFF;
        position: absolute;
        bottom: 27px;
        left:29px;
        z-index: 3;
    }


    .places__cards {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 10px;
    }

    .places__card-size-lg {
        grid-column: 3 span;
    }


    .places__card-size-sm {
        grid-column: 2 span;
    }


    .places__card-pic {
        width: 100%;

        transition: .15s all;
    }


    .places__card-pic__size-lg {
        height: 354px;
        object-fit: cover;
    }

    .places__card-pic__size-sm {
        height: 283px;
        object-fit: cover;
    }

    .places__card-link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 4;
    }

/*<!-- Places end-->*/

/*<!-- Tour start-->*/

    .tours {
        margin-bottom: 139px;
    }

    .tour__info {
        padding-left: 47px;
    }

    .tours__tour {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 0 108px;
        align-items: center;
        margin-bottom: 77px;
    }

    .tour__title {
        font-weight: 500;
        font-size: 30px;
        line-height: 40px;
        color: #102746;
        margin-bottom: 85px;
    }

    .tour__desc {
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #102746;
        margin-bottom: 58px;
    }

    .tour__more {
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #006DFE;
        text-decoration: none;
        background: url(../img/shape.svg) no-repeat right center;
        padding-right: 59px;
    }

    .tour__more:hover, .tour__more:focus {
    opacity: 0.65;
}


/*<!-- Tour end-->*/

/*top start*/

    .top__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 57px;
    }

    .top__card {
        display: flex;
        flex-direction: column;
    }


    .top__title {
        margin-bottom: 54px ;

    }


    .top {
        margin-bottom:84px ;
    }


    .top__card-pic {
        position: relative;
        margin-bottom: 45px;
    }

    .top__card-stats {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 16px 25px;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgba(21, 24, 36, 0.6);
        justify-content: flex-end;
    }

    .top__card-title {
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: #FFFFFF;
        margin: 0 auto 0 0;
    }

    .top__card-likes {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        padding-right: 20px;
        background: url(../img/heart-icon.svg) no-repeat right;
        margin-right: 14px;
    }

    .top__card-comments {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        padding-right: 23px;
        background: url(../img/comments-icon.svg) no-repeat right;
}


    .top__card-desc {
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #102746;
        margin-bottom: 31px;

    }

    .top__card-more {
        width: 118px;
        background: #1B7DFF;
        color: #FFFFFF;
        text-transform: uppercase;
        padding: 12px 19px;
        text-decoration: none;
        font-size: 16px;
        margin: auto 0 0 0;
    }

    .top__card-more:hover, .top__card-more:focus, .top__card-more:active {
        background-color: #2065bf;

    }


/*top end*/